

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  z-index: -1;
  background-color: #F9F9F9;
  background-attachment: fixed;
  width: 100%;
  justify-content: center;
}

main {
  margin-top: 50px;
  min-height: 80vh;
}

#browseContainer {
  margin: 40px;
}

.tile {
  padding: 5px
}

.navBar {
  position: fixed;
  top: 0;
  width:100%;
  z-index: 1;
  padding: 15px 0;
  background-color: #F9F9F9;
}

.homeNav {
  float:left;
  padding-left: 20px;
}

a, a:visited {
  font-family: 'Alfa Slab One', cursive;
  color: #BB9B8B;
  text-emphasis: bold;
  text-decoration: none;
  padding-right: 10px;
}

a :hover {
  color: #9C0A02;
}

.otherNav {
  padding-right: 20px;
  float: right;
  text-decoration: none;
}

.subButton {
  padding-top: 25px;
}

.footer{

  padding: 20px;
  background-color: #BB9B8B;
}

#footAnchor {
  color: #727C82;
}


.formTemp {
  display: inline-block;
  justify-content: center;
  background-color: #F9F9F9;
  padding-bottom: 20px;
  width: 50%;
  border-radius: 2px;
}

.fb-login {
  margin-bottom: 20px;
}

label {
  color: #181617;
}

.home {
  display: inline-block;
  text-align: center;
  justify-content: center;
  min-height: 80vh;
}

.callToAction {
  justify-content: center;
  display: inline-block;
  text-align: center;
  width: 80%;
  margin-top: 100px;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  color: #727C82
}

.arrow {
  margin-bottom: 50px;
}

.img-tile {
  width:100%;
  height:100%;
}

.tabs {
  border: 2px solid #9C0A02;
  margin-bottom: 40px;
}

.AppBar {
  color: #9C0A02;
  background-color: #9C0A02;
}


.profile-box {
  margin: 80px 20px 20px 20px;
}
.ArtistCheck, .ArtistCheck :after {
  font-size: 40px;
  background: #9C0A02;
}
